@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}

input:-webkit-autofill {
  background-color: #262626 !important;
  -webkit-box-shadow: 0 0 0 1000px #262626 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  border-radius: 0.5rem !important; 
  transition: background-color 5000s ease-in-out 0s !important;
}


/* Input range slider */

.music-range {
  @apply w-full appearance-none h-2 rounded-lg cursor-pointer bg-transparent;
  background: linear-gradient(to right, #800000 50%, #ddd 50%);
}

.music-range::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 999px;
  background: transparent;
}

.music-range::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 rounded-full;
  background-color: #B40000;
  border: 2px solid white;
  margin-top: -6px; /* Align thumb with track */
}

.music-range::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #B40000;
  border: 2px solid white;
  border-radius: 999px;
  cursor: pointer;
}

.music-range::-moz-range-track {
  height: 6px;
  background: #ddd;
  border-radius: 999px;
}

.music-range::-moz-range-progress {
  background: linear-gradient(to right, #800000, #F00000, #B40000);
  height: 6px;
  border-radius: 999px;
}
